[package]
name = "aliyun-oss-client"
version.workspace = true
edition.workspace = true
resolver = "2"
license.workspace = true
documentation.workspace = true
description = "an aliyun oss client"
keywords = ["aliyun", "oss", "sdk"]
categories = ["api-bindings"]
repository.workspace = true
rust-version = "1.62"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.docs.rs]
all-features = true

[workspace]
members = ["oss_derive"]

[workspace.package]
version = "0.12.4"
edition = "2021"
license = "MIT"
repository = "https://github.com/tu6ge/oss-rs"
documentation = "https://docs.rs/aliyun-oss-client"

[dependencies.oss_derive]
version = "0.10.0"
path = "./oss_derive"
optional = true

[[example]]
name = "bucket"
required-features = ["blocking"]

[[example]]
name = "buckets"
required-features = ["blocking"]

[[example]]
name = "delete_file"
required-features = ["blocking"]

[[example]]
name = "objects"
required-features = ["blocking"]

[[example]]
name = "put_file"
required-features = ["blocking", "put_file"]

[[sts]]
name = "sts"
required-features = ["sts"]

[features]
default = [
  #"blocking",
  "core",
  "sts",
  "put_file",
]
core = [
  "reqwest",
  "async-trait",
  #"futures",
  "futures-core",
  "async-stream",
  "thiserror",
  "oss_derive",
  "auth",
  "decode",
]
blocking = ["core", "reqwest/blocking"]
sts = ["core", "auth"]
put_file = ["core", "infer"]
auth = ["reqwest", "percent-encoding"]
decode = ["quick-xml", "oss_derive"]
# bench = []

[dependencies]
async-stream = {version = "^0.3", optional = true}
async-trait = {version = "^0.1", optional = true}
base64 = {version = "^0.21"}
chrono = {version = "^0.4"}
futures-core = {version = "^0.3", optional = true}
hmac = {version = "^0.12"}
http= {version = "^0.2"}
infer = {version = "^0.14", optional = true}
percent-encoding = {version = "2.2.0", optional = true}
quick-xml = {version = "^0.29", optional = true}
reqwest = {version ="^0.11", optional = true}
sha1 = {version = "^0.10"}
thiserror = {version = "^1", optional = true}
url= {version = "^2"}

[dev-dependencies]
assert_matches = "1.5.0"
chrono = {version = "^0.4"}
dotenv = "0.15.0"
futures = {version = "^0.3"}
http= {version = "^0.2"}
mockall = "0.11.2"
mockall_double= "0.3.0"
thiserror = {version = "^1"}
tokio = { version = "1.19.2", features = ["rt","macros","rt-multi-thread"] }
url = { version = "^2" }
serde = { version = "1.0", features = ["derive"] }
reqwest = { version ="^0.11", features = ["json"] }

# [build-dependencies]
# rustc_version = "0.4.0"
